.footer {
  background-color: var(--pink-medium);
  padding: 1rem;
  font-size: 0.85rem;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.footer-bottom {
  text-align: center;
}

.social-links a {
  display: inline-block;
  margin-right: 1rem;
  color: #333;
}

.social-links a:hover {
  color: var(--mauve);
}
