/* src/index.css */
:root {
  --font-primary: "Helvetica Neue", sans-serif;
  --font-secondary: "Arial", sans-serif;
  --font-serif: "Georgia", serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-serif);
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
  font-family: var(--font-serif);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #79b3f1;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
